body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

* {
    padding: 0;
    margin: 0;
}

button {
    height: 40px;
    width: 80px;
    background-color: rgb(119, 119, 241);
    text-decoration: none;
    border-radius: 12px;
}

b {
    font-style: bold;
    font-size: 20px;
}

table {
    margin-left: 435px;
}

header {
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    background-color: lightcyan;
}

.main {
    background-color: lightgreen;
    text-decoration: underline;

}

.img1 {
    border-radius: 12px;
    border: 1px solid black;
}

.heading1 {
    text-decoration: overline;
    background-color: lightblue;
}

.heading2 {
    text-decoration: dashed;
    background-color: lightblue;
}

.heading3 {
    background-color: lightblue;
    text-decoration: dotted;
    border: 1px;
}

.heading4 {
    background-color: lightblue;
}

.heading5 {
    background-color: lightblue;
}

.heading6 {
    background-color: lightblue;
}

.h1big {
    text-align: right;
}

.h1big1 {
    text-align: center;
}

.h1big2 {
    text-align: left;
}

.psmall {
    text-align: right;
}

.psmall1 {
    text-align: center;
}

.psmall2 {
    text-align: left;
}

.programmer1 {
    font-size: 60px;
    text-align: center;
}

.img2 {
    border-radius: 50%;
    border: 7px solid black;
    box-sizing: border-box;
    box-shadow: 10px solid rgb(255, 255, 255);
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    display: flex;
    height: 200px;
    width: 100%;
    text-decoration: none;
}

.madarchut {
    display: flex;
    font-size: 30px;
    display: flex;
    text-decoration: none;
    color: black;
    float: right;
}
